


{% extends 'map_base.html' %}


{% block mapscript %}

<div class="container " >
  {% block map_select2 %}
  <h2>{{user_id}} Please Provide details - Not all fields neeeded.</h2>


    <button style="float:right;" type="submit" title="Submit it without details" id="btn-add" class="btn btn-success">Quick Submit</button>
    <!-- Comment this out for other person rescue mode -->
  {% endblock map_select2 %}

  <form id="data" method="POST"> {% csrf_token %}
      <table class="table" id= "create">
        <thead>
     
          <tr>
            <th><h3>Victim Data Collection </h3>  
            <br>Your Name</th>
            <th>
              <details>
                <summary>Your Phone Number</summary>
                <p style="font-weight: normal;"> How to keep your phone charged without electricity: <a style="color:green;" href="https://mashtips.com/charge-mobile-phone-without-electric-power/">Link</a></p>
              </details>
            <th>


          </tr>
        </thead>
        <tbody>

        <tr>
            <td><input id="name" name="name" type="text" class="form-control" placeholder="Your Name"/></td>


            
            <td style="width:33%;"><input id="name" name="number" id="number" type="tel" class="form-control" required placeholder="Keep battery charged."/></td>
                        
        </tr>
    

          </tbody>
      </table>

    {% block other %}
        <!-- For Save Friend/Relative Template -->
    {% endblock other %}

	  <table class="table" id= "address">
        <thead>
          <tr>
            <th>Address</th>
            <th></th>
            <th>Latitude</th>
            <th>Longtitude</th> 
            <th>
                            <details>
                <summary>How to get these?</summary>
                <p style="font-weight: normal;"> Simply click your location in the map above and we will automatically fill this field</p>
                </details>
            </th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td><input id="address" name="address" type="text" class="form-control" /></td>
              <td><button  onclick="#geocodercall()" type="button" id="btn-add" class="btn btn-warning" disabled>Get Lat/Long</button></td>
              <td style="width: 10%;"><input id="Lat" name="lat"  type="float" class="form-control"  required/></td>
              <td style="width: 10%;"><input id="Lon" name="lon"  type="float" class="form-control"  required/></td>
              <td><button  onclick="#geocodercall()"  type="button" id="btn-add" class="btn btn-info" disabled>Get Address</button></td>

            </tr>

                  

          </tbody>
      </table>
      <table class="table" id= "create">
              <thead>
            
                  <tr>
                    <th>Total Number of Adults</th>
                    <th>Total Number of Children</th>
                    <th>Total Number of very Elderly</th>


                    

                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <td style="width:33%;"><input id="total_adults" name="total_adults" type="number" class="form-control" value="1"/></td>
                      <td style="width:33%;"><input id="total_children" name="total_children" id="total_children" type="number" class="form-control" placeholder="below 18" value="0"/></td>
                      <td style="width:33%;"><input id="total_elderly" name="total_elderly" id="total_elderly" type="number" class="form-control" placeholder="face physical restrictions." value="0"/></td>
                  </tr>
          

              </tbody>
      </table>

	  <table class="table" id= "info">
        <thead>
          <tr>
            <th> Rooftop? (Airlift) </th>
            <th> Additional Information </th>
            
          </tr>
        </thead>
        <tbody style="color:black;">
          
            <tr>
                <td>
                  <select name="roof" class="form-control">
                    <option value="Not Sure">Not Sure</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                  </select>
                </td>

              <td><input id="roof" name="info" type="text" class="form-control" </td>

              
            </tr>

            <tr>
                <td> <button  type="submit" id="btn-add" class="btn btn-success">Submit</button> </td>
            </tr>

                
                
                 
          </tbody>
      </table>
		</form>

          {% if exist_flag %}
          <script>alert("There seems to already be a submission for the given phone number. Please confirm your number if this is false.");</script>  
          {% endif %}


</div>

   <script>

       // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var victims = JSON.parse('{{ jsonobj | escapejs }}');
      var situations = JSON.parse('{{ situation | escapejs }}');
      var map, infoWindow, geocoder, marker;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow;
        geocoder = new google.maps.Geocoder();


        // Try HTML5 geolocation.
        {% block  geolocation%}
        
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
        
            document.getElementById("Lat").value = position.coords.latitude;
            document.getElementById("Lon").value = position.coords.longitude;
            title = "Lat: " + pos.lat + " & Lng: " + pos.lng;
            marker = new google.maps.Marker({
                  
                  position: pos,
                  animation: google.maps.Animation.DROP,
                  map: map,
                  title: title
                });
            map.setZoom(14);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        {% endblock geolocation%}


        google.maps.event.addListener(map, 'click', function(event) {
          item = event.latLng
          title = item.lat() + " - " + item.lng();
          if(marker!=null)
            marker.setMap(null);
          marker = new google.maps.Marker({
                
                position: item,
                animation: google.maps.Animation.DROP,
                map: map,
                title: title
              });
            document.getElementById("Lat").value = item.lat();
            document.getElementById("Lon").value = item.lng();

            }); // End of click listener

            var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.75,
            strokeWeight: 0.75,
            fillColor: '#ca0b00',
            fillOpacity: 0.135,
            map: map,
            clickable: false,
            center: {lat: situations[0].fields.c_lat, lng: situations[0].fields.c_lon},
            radius: situations[0].fields.radius
          });
        
      

          

      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

      function geocodercall(){
            geocodeLatLng(geocoder, map, infoWindow)
      }

      function geocodeLatLng(geocoder, map, infowindow) {
        var lat = document.getElementById('Lat').value;
        var lon = document.getElementById('Lon').value;
        alert(lat + " + " + lon)
        var latlng = {lat: parseFloat(lat), lng: parseFloat(lon)};
        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === 'OK') {
            if (results[0]) {
              map.setZoom(18);
              var marker = new google.maps.Marker({
                position: latlng,
                map: map
              });

            } else {
             alert('No results found');
            }
          } else {
            alert('Geocoder failed due to: ' + status);
          }
        });
      }



    </script>


    <script>
        function CheckColors(val){
        var element=document.getElementById('color');
        if(val=='pick a color' || val=='others')
          element.style.display='block';
        else  
          element.style.display='none';
        }
    </script>


{% endblock mapscript %}


