{% extends 'map_base.html' %}


{% block mapscript %}
   <script>
      var iconBase =
        'https://developers.google.com/maps/documentation/javascript/examples/full/images/';



      function initMap() {
        var victims = JSON.parse('{{ jsonobj | escapejs }}');
        if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };
                    
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                  });
        }


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: victims[0].fields.lat, lng: victims[0].fields.lon}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.

        var locations = [];
        var marker;
        var infowindow;
        var marker_info_map;
        console.log(victims[0].fields.number_2)
        console.log(victims.length)

        for(var i = 0; i < victims.length; i++){
            item = victims[i].fields 
            if(item.roof==true) item.roof="Yes"; else if(item.roof==false) item.roof = "No"; else item.roof="Not sure";
            if(item.address==null) item.address = "Not given!";
            locations.push({lat: item.lat, lng: item.lon});
          
            var contentString = i + '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">' + item.name + '</h1>'+
                '<div id="bodyContent">'+
 '<table style="width:100%"> <tr> <th>Name:</th> <td>'+item.name+'</td> </tr> <tr> <th>Phone:</th> <td>'+item.number_2+'</td> </tr> <tr> <th>Address:</th> <td>'+item.address+'</td> </tr> <tr> <th>Latitude:</th> <td>'+item.lat+'</td> </tr>'
 +
 '<tr> <th>Longitude:</th> <td>'+item.lon+'</td> </tr> <tr> <th>Roof:</th> <td>'+item.roof+'</td></tr> <tr> <th>Spec. Info: &nbsp</th> <td>'+item.info+'</td> </tr> </table>'
                '</div>'+
                '</div>';
          
            let infowindow = new google.maps.InfoWindow({
              content: "<div style=\"opacity: 0.8; color:red;\">" + contentString + "</div>"
            });

            marker = new google.maps.Marker({
              icon: iconBase + 'parking_lot_maps.png',
              position: locations[i],
              animation: google.maps.Animation.DROP,
              map: map,
              title: victims[i].fields.name
            });
            
 
            marker.addListener('click', function() {
              infowindow.open(map, this);
            });

        }

        for(var i = 0; i < victims.length; i++){
            console.log(locations[i].lat + " + " + locations[i].lng);
        }



      }



      
      


    </script>
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

{% endblock mapscript %}