{% extends 'base.html' %}

{% block body %}

<div class="bgimg w3-display-container w3-animate-opacity w3-animate-zoom w3-text-white">

  <div class="w3-display-middle">
    <form method="POST">  {% csrf_token %}
        <h4 class="w3-jumbo w3-animate-top w3-display-middle"><button type="submit" name="register" id="register" value="Rescue&Me">&nbsp;Volunteer as Rescue &nbsp; </button></h4>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        
        <p class="w3-large w3-center w3-animate-bottom"><button type="submit" name="login" id="login" value="Rescue Friend/Family">Login Rescue Team </button></p>
        <p class="w3-large w3-center w3-animate-bottom"><button type="submit" name="rescue" id="rescue" value="Rescue Friend/Family">Rescue Map </button></p>
        <p class="w3-large w3-center w3-animate-bottom"><button type="submit" name="extra1" id="extra1" value="Rescue Friend/Family">Eligibility Criteria </button></p>
        <p class="w3-large w3-center w3-animate-bottom"><button type="submit" name="extra2" id="extra2" value="Rescue Friend/Family">Code of Conduct </button></p>
    </form> 
  </div>

</div>










<style>
    #register, #login, #watermark, #extra2, #extra1, #rescue{
      -webkit-transition: ease-in 400ms; /* Safari prior 6.1 */
      transition: ease-in .2s;
      border: 1px solid black;
      border-radius: 5em;
      opacity: 0.9;
    }



    
    #register:hover, #login:hover, #extra1:hover, #extra2:hover, #rescue:hover {
      opacity: 1;
      margin: 5px;

    }


    #login:hover, #extra1:hover, #extra2:hover{
        margin-top: 10px;
        margin-bottom: 10px;

    }


    #watermark:hover {
      color:blue;
      margin:10px;
      }
      
    @media screen and (max-width: 600px) {
      #watermark {
        display: none; visibility:hidden;
        color:blue;
        }
    
      #register {
        font-size: 40px;
      }
      #login {
        font-size: 20px;
      }
    }

</style>

{% endblock body %}