{% extends 'map_select.html' %}

{% block other %}
    <table class="table" id= "create">
        <thead>
        
            <tr>
            <th>
            <br>               
                    <details>
                        <summary>Victims Name</summary>
                        <p style="font-weight: normal;"> Name of any one of the victims for identification </p>
                    </details
                ></th>
            <th>
                <details>
                <summary>Victim's Phone Number</summary>
                <p style="font-weight: normal;"> We will use this to contact them if possible. </p>
                </details>
            <th>


            </tr>
        </thead>
        <tbody>

        <tr>
            <td><input id="name_2" name="name_2" type="text" class="form-control" required placeholder="Victim's Name"/></td>
            <td style="width:33%;"><input id="name" name="number_2" id="number_2" type="tel" class="form-control" placeholder="Victim's Charged Number"/></td>
        </tr>


            </tbody>
        </table>

{% endblock other %}

{% block map_select2 %}

  <h2> Please Provide details.</h2>
    <button  style="float:right;" type="submit" title="Only available for self rescue mode" id="btn-add" class="btn btn-success" disabled>Quick Submit</button>

{% endblock map_select2 %}



{% block geolocation %}

            // Comments out the geolocation of other view.

            var pos = {
              lat: situations[0].fields.c_lat,
              lng: situations[0].fields.c_lon
            };
            if(situations[0].fields.radius<15000)
                map.setZoom(18);
            else if(situations[0].fields.radius < 15000)
                    map.setZoom(12);
            else
                map.setZoom(8);
            map.setCenter(pos);

         

{% endblock geolocation %}

